@model Bus_Ticket_Booking_Management_System.Areas.Ticket.Models.DiaplaySerchedRouteDetail
@Html.HiddenFor(x=>x.routeid)
<div class="row">
    <div class="col text-start text-dark mb-1">
        <b class="bg-info p-1 rounded">@Model.BusTypeName</b>
    </div>
    <div class="col text-end mt-1 text-dark">
        <b class="bg-info p-1 rounded">INR @Model.Fare</b>
    </div>
</div>
<div class="container text-center">
    <div class="row pt-2">
        <div class="col">
            <div class="row mb-2"><b>TripCode</b></div>
            <div class="row mb-2"><h6>@Model.TripCode</h6></div>
        </div>
        <div class="col" hidden id="routeid">
            <div class="row mb-2"><b>routeid</b></div>
            <div class="row mb-2"><h6>@Model.routeid</h6></div>
        </div>
        <div class="col">
            <div class="row mb-2"><b>Dept.Time</b></div>
            <div class="row mb-2"><h6>@Model.DeptTime</h6></div>
        </div>
        <div class="col">
            <div class="row mb-2"><b>Origin</b></div>
            <div class="row mb-2"><h6>@Model.Origin</h6></div>
        </div>
        <div class="col">
            <div class="row mb-2"><b>Arrival Time</b></div>
            <div class="row mb-2"><h6>@Model.ArrivalTime</h6></div>
        </div>
        <div class="col">
            <div class="row mb-2"><b>Destination</b></div>
            <div class="row mb-2"><h6>@Model.Destination</h6></div>
        </div>
        <div class="col">
            <div class="row mb-2"><b>Duration</b></div>
            <div class="row mb-2"><h6>@Model.Duration</h6></div>
        </div>
        <div class="col">
            <div class="row mb-2"><b>Fare</b></div>
            <div class="row"><h6>₹<span id="fare">@Model.Fare</span></h6></div>
        </div>
        <div class="col pt-2">
            <div class="d-grid gap-2 d-md-block">
                <button type="button" class="btn btn-primary btn-sm" as>@Model.capacity &raquo;</button>
            </div>
            <button class="bg-success" id="viewSeatBtn">View Seat</button>
        </div>
    </div>
</div>
<br />
<hr />

