@{
    Layout = "_Layout";
}
@using System.Data
@model Bus_Ticket_Booking_Management_System.Areas.Ticket.Models.TicketSearchmodel
<head>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- jQuery Validation -->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <!-- jQuery Unobtrusive Validation -->
    <script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <style>
        /* Add this style in your HTML or CSS file */
        .select2-container .select2-selection--single {
            border: none !important;
            box-shadow: none !important;
        }

        #onDate {
            border: none !important;
            box-shadow: none !important;
        }
    </style>
</head>

<div class="pagetitle">
    <h1>Ticket</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">SearchTicket</li>
        </ol>
    </nav>
</div>


<section class="section">
    <div class="row">
        <div class="col">
            <div class="card pt-4">
                <div class="card-body">
                    <form class="row" id="searchticketform" method="post">

                        <div class="col">
                            <span class="input-group-text mb-2">
                                <i class="bi bi-bus-front"></i>
                                <select class="form-control" id="SourceID" asp-for="SourceID" asp-items="@(new SelectList(ViewBag.Station_DDL,"Stid","StationName"))"
                                        style="border: none !important; box-shadow: none !important;">
                                    <option disabled selected>Select Source</option>
                                </select>
                            </span>
                            <span asp-validation-for="SourceID" class="text-danger"></span>
                        </div>

                        <div class="col-1 pt-2 ps-5 " id="swapsource_destination">
                            <a>
                                <i class="bi bi-arrow-left-right bg-info fs-5 rounded"></i>
                            </a>
                        </div>

                        <div class="col">
                            <span class="input-group-text mb-2">
                                <i class="bi bi-bus-front"></i>
                                <select class="form-control" id="DestinationID" asp-for="DestinationID" asp-items="@(new SelectList(ViewBag.Station_DDL,"Stid","StationName"))"
                                        style="border: none !important; box-shadow: none !important;">
                                    <option disabled selected>Select Destination</option>
                                </select>
                            </span>
                            <span asp-validation-for="DestinationID" class="text-danger"></span>
                        </div>

                        <div class="col">
                            <span class="input-group-text">
                                <i class="bi bi-calendar-date"></i>
                                <input type="date" class="form-control" id="onDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddMonths(2).ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="JourneyDate">
                            </span>
                            <span asp-validation-for="JourneyDate" class="text-danger"></span>
                        </div>

                        <div class="col pt-2">
                            <label class="form-label">
                                <button type="submit" id="btnsubmit" class="btn btn-primary">Submit</button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div id="ticketcard" class="card">
        </div>
    </div>
</section>

<div id="loading" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="spinner-border mr-2" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mb-0">   Loading...</p>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


    <script>
        function encodeParamsToBase64(params) {
            return btoa(JSON.stringify(params));
        }
        $(document).ready(function () {
            // Initialize select2 for SourceID and DestinatioID
            $('#SourceID, #DestinationID').select2({
                allowClear: false,
                width: '100%',
                dropdownAutoWidth: false,
                closeOnSelect: true,
            });

            $("#swapsource_destination").click(function (e) {
                // Get the selected text and value for both source and destination
                var sourceValue = $("#SourceID").val();
                var destinationValue = $("#DestinationID").val();

                // Swap the values and texts
                $("#SourceID").val(destinationValue).trigger('change'); // Use trigger('change') to update select2
                $("#DestinationID").val(sourceValue).trigger('change'); // Use trigger('change') to update select2
            });



            // Attach a submit event handler to the form
            $('#searchticketform').submit(function (event) {

                $('#ticketcard').empty();
                //check if not null
                var selectedValue = $("#SourceID").val();
                var selectedValue2 = $("#DestinationID").val();

                if (selectedValue == selectedValue2 && selectedValue != null && selectedValue2 != null) {
                    $('#ticketcard').empty();

                    alert("Both Station must be unique");
                    event.preventDefault();

                }

                else if (selectedValue !== null && selectedValue !== undefined && selectedValue !== ''
                    && selectedValue2 !== null && selectedValue2 !== undefined && selectedValue2 !== '') {


                    // Prevent the default form submission
                    event.preventDefault();
                    $('#ticketcard').on('click', '#viewSeatBtn', function () {
                        var routeId = parseInt($('#routeid').val()); // Convert to integer
                        var onDate = $('#onDate').val();
                        var sourceID = $('#SourceID').val();
                        var destinationID = $('#DestinationID').val();
                        var fare = $('#fare').text();
                        console.log(routeId);
                        console.log(onDate);
                        console.log(sourceID);
                        console.log(destinationID);
                        console.log(fare);
                        var encodedRouteId = encodeParamsToBase64(routeId.toString());
                        var encodedonDate = encodeParamsToBase64(onDate);
                        var encodedsourceID = encodeParamsToBase64(sourceID);
                        var encodeddestinationID = encodeParamsToBase64(destinationID);
                        var encodedonfare = encodeParamsToBase64(fare);

                        window.location.href = '@Url.Action("SeatLayout", "Seat", new { area = "Seat" })' + '?routeId=' + encodedRouteId + '&onDate=' + encodedonDate + '&sourceID=' + encodedsourceID + '&destinationID=' + encodeddestinationID + '&fare=' + encodedonfare;
                    });

                    // Check if the form is valid
                    if ($(this).valid()) {
                        $('#loading').show();
                        // Serialize the form data
                        var serializedFormData = $(this).serialize();

                        var ticketSearchModel = {};

                        var formDataObject = {};
                        $.each(serializedFormData.split('&'), function (index, value) {
                            var pair = value.split('=');
                            formDataObject[pair[0]] = decodeURIComponent(pair[1] || '');
                            ticketSearchModel[pair[0]] = decodeURIComponent(pair[1] || '');
                        });

                        $.ajax({
                            url: "@Url.Action("DisplaySerchedTicket", "Ticket", new { area = "Ticket" })",
                            method: "GET",
                            data: { 'SourceID': formDataObject.SourceID, 'DestinationID': formDataObject.DestinationID, 'JourneyDate': formDataObject.JourneyDate },
                            success: function (data) {
                                data = JSON.parse(data);
                                setTimeout(function () {
                                    $('#loading').hide();

                                    $('#ticketcard').empty();
                                    $('#loading').hide();

                                    $.each(data, function (index, ticket) {
                                        // Load and render the partial view for a single ticket
                                        $.get('@Url.Action("RenderTicketPartial", "Ticket", new { area = "Ticket" })', { ticket: JSON.stringify(ticket) }, function (html) {
                                            $('#ticketcard').append(html);
                                        });
                                    });
                                }, 2000);
                            },
                            error: function (error) {
                                $('#loading').hide();

                                console.error(error);
                            }
                        });
                    }
                }
            });
        });
    </script>
}

