@{
    Layout = "_Layout";
}
@using System.Data;
@model DataTable


<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3>Bus Type Of List</h3>
        <div>
            <a type="button" class="btn btn-success btn-add">Add New Bus</a>
        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Bus Number</th>
                        <th scope="col">Bus Type</th>
                        <th scope="col">Seat</th>
                        <th scope="col">With AC</th>
                        <th scope="col">Sleeper</th>
                        <th scope="col">Image</th>

                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody id="myTable">

                    @if (Model.Rows.Count <= 0)
                    {
                        <tr>
                            <td class="col text-danger text-center">Norecord</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (DataRow dataRow in Model.Rows)
                        {
                            <tr>
                                <td>@dataRow["bus_number"]</td>
                                <td>@dataRow["bus_type"].ToString().ToUpper()</td>
                                <td>@dataRow["bus_seat"]</td>
                                @if (Convert.ToInt32(@dataRow["bus_is_ac"]) == 1)
                                {
                                    <td>Yes</td>
                                }
                                else
                                {
                                    <td>No</td>
                                }
                                @if (Convert.ToInt32(@dataRow["bus_is_sleeper"]) == 1)
                                {
                                    <td>Sleeper</td>
                                }
                                else
                                {
                                    <td>Seater</td>
                                }
                                <td>
                                    <img src="@dataRow["bus_image"]" alt="Bus Image" style="width: 100px;" />
                                </td>

                                <td>
                                    <a type="button" class="btn btn-danger">Delete</a>
                                    <a type="button" class="btn btn-info">edit</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
