@{
    Layout = "_Layout";
}
@using System.Data;
@model DataTable
<div class="pagetitle">
    <h1>Station</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active">Station</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h3>List of Station</h3>
        <div>
            <a type="button" class="btn btn-success btn-add">Add New Station</a>
        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Station Name</th>
                        <th scope="col">Station Location</th>
                        <th scope="auto">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="myTable">

                    @if (Model.Rows.Count <= 0)
                    {
                        <tr>
                            <td class="col text-danger text-center">No records</td>
                        </tr>
                    }
                    else
                    {
                        @if (Model.Rows.Count > 0)
                        {
                        <tbody id="myTable">
                                @foreach (DataRow dataRow in Model.Rows)
                                {
                                <tr>
                                    <td>@dataRow["StationName"].ToString()</td>
                                    <td>@dataRow["location"].ToString() </td>
                                    <td>@(dataRow["Description"] != null && !string.IsNullOrWhiteSpace(dataRow["Description"].ToString()) ? dataRow["Description"] : "NA")</td>
                                    <td>
                                        <a type="button" class="btn btn-danger">Delete</a>
                                        <a type="button" class="btn btn-info">Edit</a>
                                    </td>
                                </tr>
                                }
                        </tbody>
                        }

                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <ul class="pagination justify-content-start">
                    Showing @ViewBag.CurrentPage to @ViewBag.TotalPages of 10 entries
                </ul>
            </div>
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        @if (ViewBag.CurrentPage != 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("StationList", new { page = @ViewBag.CurrentPage-1 })">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= ViewBag.TotalPages; i++)
                        {

                            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                                <a class="page-link" href="@Url.Action("StationList", new { page = i })">@i</a>
                            </li>
                        }
                        @if (ViewBag.TotalPages != ViewBag.CurrentPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("StationList", new { page = @ViewBag.CurrentPage+1 })">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }

                    </ul>
                </nav>
            </div>
        </div>


    </div>
</div>
